$background: #f7cfef;
$window: #ffcdf3;
$pink: #ed6bbe;
$font: #662b64;

.std {
  background-image: linear-gradient(to bottom, #fedee3, #fec8f0);
}

.blobs {
  position: absolute;
  width: 100%;
  // pointer-events: none;
  overflow: hidden;
  z-index: 0;
  svg {
    padding: 10px;
    min-width: 100px;
    max-width: 300px;
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  .intro {
    z-index: 1;
    width: 90%;
    margin-bottom: 100px;
    * {
      color: $font;
    }
    img {
      display: block;
      margin: 0 auto 1em;
    }
  }
}

.pane {
  width: 100%;
  z-index: 2;
}
.window {
  // background: lighten($window, 2%);
  background: $window;
  color: $font;
  // color: white;
  text-align: center;
  position: relative;
  height: auto;
  width: auto;
  max-width: 535px;
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #acacac;
  a {
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  h1 {
    width: 100%;
  }
  h3 {
    text-transform: lowercase;
    color: $font;
    &.title {
      margin: 1em auto;
      width: 90%;
    }
  }
  img {
    max-width: 400px;
    width: 90%;
    border-radius: 10px;
  }

  &:before {
    content: "";
    // color: #fed8d2;
    position: absolute;
    top: 0;
    left: 0;
    // border-top: 20px darken($window, 5%) solid;
    border-top: 20px solid #ffa6e5;
    border-radius: 1px;
    width: 100%;
  }
  &:after {
    content: url(https://media.missguided.co.uk/image/upload/v1535547933/dots_dxlbka.svg);
    position: absolute;
    top: -10px;
    width: 40px;
    height: 10px;
    left: 10px;
    font-size: 15px;
    font-weight: 700;
  }
  button.button {
    background: #ffa6e5;
    border-color: #ffa6e5;
    color: white;
    &:hover {
      background: $font;
      border-color: $font;
    }
  }
}

.email {

  margin-bottom: 1em;
  color: $font;
  h5 {
    font-size: 10px;
    text-align: center;
    padding: 0 5%;
  }
  .form__input {
    height: 250px;
    width: 80%;
    margin: 0 auto;
    display: flex;
flex-direction: column;
    justify-content: space-evenly;
  }
  .form__inline .left, .form__inline button {
flex: 50px 0 0;
    margin: 0;
    padding: 0;
  }
  input {
    height: 50px;
    border: none;
    margin: 0;
    padding: 0 0.7rem;
    font-size: 16px;
    text-transform: lowercase !important;
    text-align: left;
    color: $font;
    border-radius: 0;
    background: none;
    border: 2px solid $font;
    transition: background 300ms ease;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-transform: uppercase;
    color: $font;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase;
    color: $font;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    text-transform: uppercase;
    color: $font;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase;
    color: $font;
  }
  .form__inline button {
    float: none;
  }
  button.button {
    background: transparent;
    border: 2px solid $font;
    transition: background-color 300ms ease;
    color: $font;
    svg {
      height: 20px;
      width: 20px;
      fill: $font;
      transition: fill ease 300ms;
    }
    svg:before {
      content: "submit";
      position: relative;
      display: block;
    }
    &:hover {
      background-color: $font;
      svg {
        fill: $background;
      }
    }
  }
}
.tc {
  //   color: #fff;
  transform: skewX(0deg);
  text-transform: none;
  font-size: 9px;
  font-weight: 300;
  margin: 10px auto;
}

ul.steps {
  margin: 0 1em;
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    h5 {
      margin-left: 1em;
    }
  }
}
.whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  iframe {
    width: 160px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
  }
  a {
    color: $font;
    margin-top: 1em;
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-weight: 600;
  }
}

@media (min-width: 1200px) {
  .sign-up {
    max-width: 1600px;
    margin: 0 auto;
  }
  .pane {
    max-width: 1200px;
    width: 100%;
  }
  .window {
    padding: 40px;
    &.email {
      width: 750px;
      max-width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .hide-on-desk {
    display: none;
  }
  .hide-on-mob {
    display: block;
  }

  .intro h3 {
    font-size: 2em;
    width: 80%;
  }

  .blobs svg {
    &:nth-of-type(1) {
      width: 70%;
      margin: 30px 10% 30px 70%;
    }
    &:nth-of-type(2) {
      width: 60%;
      max-width: 60%;
      margin: 0 0 50px -50px;
    }
    &:nth-of-type(3) {
      width: 100%;
      max-width: 450px;
      margin: 30px 0 30px 60%;
    }
    &:nth-of-type(4) {
      width: 80%;
      max-width: 80%;
      margin: 100px 0 30px 0;
    }
  }

  .intro {
    img {
      max-width: 50%;
    }

    h1 {
      font-size: 5vw;
    }
  }
  @keyframes hi {
    0% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(500px);
    }
    100% {
      opacity: 0;
    }
  }
  .window {
    &.hi {
      padding: 40px 5px 5px;
      width: 200px;
      margin: -50px 0 -100px 10%;
      animation: hi 1s 5s 1 ease forwards;
      display: flex;
      align-content: center;
      justify-content: center;
      h5 {
        line-height: 30px;
        margin: 0 10px;
      }
    }
    &.email {
      width: 600px;
      margin: 0 0 100px 50%;
    }
    &.whatsapp {
      margin: -400px 0 100px 0;
      min-width: 450px;
    }

    &.link1 {
      margin: -500px 0 30px 45%;
    }
    &.link2 {
      margin: 100px 0 100px 25%;
    }
    &.link3 {
      margin: -500px 0 50px 60%;
    }
    &.link1,
    &.link2,
    &.link3 {
      max-width: 350px;
      padding: 40px 0 1em 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      button.button {
        display: block;
        margin: 1em auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .hide-on-desk {
    display: block;
  }
  .hide-on-mob {
    display: none;
  }
  .sign-up {
    padding: 100px 5px;
  }
  ul.steps {
    margin: 0;
    padding: 0 1em;
  }
  .blobs {
    svg {
      margin: 0 0 100px 0;
      width: 150%;

      &:nth-of-type(1) {
        width: 100%;
        margin: 10px 0 50px 60%;
      }
      &:nth-of-type(3) {
        margin: 30px 20% 50px 0;
      }
      &:nth-of-type(3) {
        margin: 30px 20%;
      }
      &:nth-of-type(4) {
        margin: 130px 0 0 0;
        width: 90%;
      }
      &:nth-of-type(5) {
        margin: 300px 0 0 0;
        width: 80%;
        max-width: 80%;
      }
      &:nth-of-type(6) {
        margin: 580px 0 0 10%;
        width: 100%;
        max-width: 100%;
      }
    }
  }

.email {

  margin-bottom: 1em;
  color: $font;
  h5 {
    font-size: 10px;
    text-align: center;
    padding: 0 5%;
  }
  .form__input {
    height: 250px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  input {
    width: 100%;
    margin: 0 auto;
  }

  button.button {
    background: $font;
    border: 2px solid $font;
    transition: background-color 300ms ease;
    color: $background;
    svg {
      height: 20px;
      width: 20px;
      fill: $background;
      transition: fill ease 300ms;
    }
    svg:before {
      content: "submit";
      position: relative;
      display: block;
    }
    &:hover {
      background-color: $font;
      svg {
        fill: $background;
      }
    }
  }
}


}

@media (max-width: 1200px) and (min-width: 769px) {
  .window {
    &.hi {
      padding: 40px 5px 5px;
      width: 200px;
      margin: 0 0 -100px 5%;
      animation: hi 1s 2s 1 ease forwards;
    }
    &.email {
      margin: 0 0 330px 30%;
    }
    &.whatsapp {
      margin: -300px 0 100px 30px;
      min-width: 450px;
    }

    &.link1 {
      margin: -600px 0 30px 60%;
    }
    &.link2 {
      margin: 100px 0 100px 10%;
    }
    &.link3 {
      margin: -500px 0 50px 54%;
    }
  }
}
@media (max-width: 600px) {
  .window {
    margin: 0 0 30px 0;
    padding: 40px 5px;
    max-width: 100%;
  }
}

.form__field-message_error,
.validation-advice {
  color: white !important;
  font-weight: 600;
}
