$background: #f7cfef;
$window: #ffcdf3;
$pink: #ff70a9;
$font: #323232;

.std {
  background-image: linear-gradient(to bottom, #fedee3, #fec8f0);
}

.blobs {
  position: absolute;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
  svg {
    padding: 10px;
    min-width: 100px;
    max-width: 300px;
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  .intro {
    z-index: 1;
    h3 {
      text-transform: none;
    }
    * {
      color: $font;
      text-align: left;
    }
    img {
      display: block;
      margin: 0 auto 1em;
    }
  }
}

.pane {
  width: 100%;
  z-index: 2;
}
.window {
  // background: lighten($window, 2%);
  background: $window;
  color: $font;
  // color: white;
  text-align: center;
  position: relative;
  height: auto;
  width: auto;
  max-width: 535px;
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #acacac;
  a {
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  h1 {
    width: 100%;
  }
  h3 {
    text-transform: lowercase;
    color: $font;
    &.title {
      margin: 1em auto;
      width: 90%;
    }
  }
  img {
    max-width: 400px;
    width: 90%;
    border-radius: 10px;
  }

  &:before {
    content: "";
    // color: #fed8d2;
    position: absolute;
    top: 0;
    left: 0;
    // border-top: 20px darken($window, 5%) solid;
    border-top: 20px solid #ffa6e5;
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  &:after {
    content: url(https://media.missguided.co.uk/image/upload/v1535547933/dots_dxlbka.svg);
    position: absolute;
    top: -10px;
    width: 40px;
    height: 10px;
    left: 10px;
    font-size: 15px;
    font-weight: 700;
  }
  button.button {
    background: #ffa6e5;
    border-color: #ffa6e5;
    color: white;
    &:hover {
      background: $font;
      border-color: $font;
    }
  }
  &.info {
    padding: 40px 20px;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        flex: 30px 0 1;
        height: 30px;
        margin: 0 5px;
        padding: 5px;
      }
    }
  }
  &.logos {
  }
}

.hover span {
  font-weight: 600;
}

.email {
  margin-bottom: 1em;
  color: $font;
  h5 {
    font-size: 10px;
    text-align: center;
    padding: 0 5%;
  }
  .form__input {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    .left {
      flex: 400px 0 1;
    }
    button.button {
      flex: 30px 0 0;
      min-width: 50px;
    }
    .left,
    button.button {
      margin: 0;
      padding: 0;
    }
  }

  input {
    height: 50px;
    border: none;
    margin: 0;
    padding: 0 0.7rem;
    font-size: 16px;
    text-transform: lowercase !important;
    text-align: left;
    color: $font;
    border-radius: 0;
    background: none;
    border: 2px solid $font;
    transition: background 300ms ease;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-transform: uppercase;
    color: $font;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase;
    color: $font;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    text-transform: uppercase;
    color: $font;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase;
    color: $font;
  }
  .form__inline button {
    float: none;
  }
  button.button {
    background: transparent;
    border: 2px solid $font;
    transition: background-color 300ms ease;
    color: $font;
    svg {
      height: 20px;
      width: 20px;
      fill: $font;
      transition: fill ease 300ms;
    }
    svg:before {
      content: "submit";
      position: relative;
      display: block;
    }
    &:hover {
      background-color: $font;
      svg {
        fill: $background;
      }
    }
  }
}
.tc {
  //   color: #fff;
  transform: skewX(0deg);
  text-transform: none;
  font-size: 9px;
  font-weight: 300;
  margin: 10px auto;
}

ul.steps {
  margin: 0 1em;
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    h5 {
      margin-left: 1em;
    }
  }
}
.whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  iframe {
    width: 160px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
  }
  a {
    color: $font;
    margin-top: 1em;
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-weight: 600;
  }
}

.content {
  position: relative;
  margin: 0 auto 1em;
  width: 50%;
  text-align: center;
  color: $font;
}

@media (min-width: 1200px) {
  .sign-up {
    max-width: 1600px;
    margin: 0 auto;
  }
  .pane {
    max-width: 1200px;
    width: 100%;
  }
  .window {
    padding: 40px;
    &.email {
      width: 750px;
      max-width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .hide-on-desk {
    display: none;
  }
  .hide-on-mob {
    display: block;
  }
  .sign-up {
    .intro {
      z-index: 1;
      h3 {
        font-size: 2em;
        margin: 0 auto 100px;
      }
    }
  }

  .blobs svg {
    &:nth-of-type(1) {
      width: 70%;
      margin: 30px 10% 30px 70%;
    }
    &:nth-of-type(2) {
      width: 60%;
      max-width: 60%;
      margin: 0 0 50px -50px;
    }
    &:nth-of-type(3) {
      width: 100%;
      max-width: 450px;
      margin: 30px 0 30px 60%;
    }
    &:nth-of-type(4) {
      width: 80%;
      max-width: 80%;
      margin: 100px 0 30px 0;
    }
  }

  .intro {
    width: 80%;
    max-width: 960px;
    img {
      width: 900px;
      max-width: 90%;
    }

    h1 {
      font-size: 5vw;
    }
  }
  @keyframes hi {
    0% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(500px);
    }
    100% {
      opacity: 0;
    }
  }
  .window {
    &.hi {
      padding: 40px 5px 5px;
      width: 200px;
      margin: -100px 0 50px 60%;
      animation: hi 1s 5s 1 ease forwards;
      display: flex;
      align-content: center;
      justify-content: center;
      h5 {
        line-height: 30px;
        margin: 0 10px;
      }
    }
    &.flat {
      max-width: 80%;
      width: 80%;
      margin: 0 0 50px 10%;
      img {
        max-width: 1200px;
        width: 100%;
      }
    }
    &.info {
      margin: -80px 0 50px 5%;
    }
    &.email {
      width: 50%;
      margin: 0 0 0 46%;
    }
    &.whatsapp {
      margin: -10px 0 50px 15%;
      min-width: 450px;
      width: 50%;
    }

    &.logos {
      max-width: 960px;
      width: 90%;
      margin: 0 auto 50px;
    }
  }
  .hover {
    position: relative;
    span {
      cursor: default;
      opacity: 0;
      transition: opacity ease 300ms;
      position: absolute;
      padding: 10px;
      background: white;
      border-radius: 5px;

      &.greggs {
        top: 50%;
        left: 66%;
      }
      &.mayb {
        top: 28%;
        left: 55%;
      }
      &.echo {
        top: 28%;
        left: 15%;
      }
      &.tamp {
        top: 80%;
        left: 80%;
      }
      &.carm {
        top: 80%;
        left: 65%;
      }
      &.colab {
        top: 20%;
        left: 45%;
      }
      &.mg {
        top: 85%;
        left: 40%;
      }
      &.thorp {
        top: 82%;
        left: 10%;
      }
      &.sup {
        top: 50%;
        left: 30%;
      }
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 1100px) and (min-width: 769px) {
  .window {
    &.hi {
      margin-left: 70%;
    }
    &.email {
      max-width: 90%;
      width: 80%;
      margin: 0 0 100px 10%;
    }
    &.whatsapp {
      margin: 0 0 100px 5%;
      max-width: 60%;
    }
  }
}
@media (max-width: 768px) {
  .hide-on-desk {
    display: block;
  }
  .hide-on-mob {
    display: none;
  }
  .intro {
    width: 90%;
    h3 {
      margin: 50px auto 50px;
    }
  }
  .sign-up {
    padding: 100px 5px;
  }
  ul.steps {
    margin: 0;
    padding: 0 1em;
  }
  .blobs {
    svg {
      margin: 0 0 100px 0;
      width: 150%;

      &:nth-of-type(1) {
        width: 100%;
        margin: 10px 0 50px 60%;
      }
      &:nth-of-type(3) {
        margin: 30px 20% 50px 0;
      }
      &:nth-of-type(3) {
        margin: 30px 20%;
      }
      &:nth-of-type(4) {
        margin: 130px 0 0 0;
        width: 90%;
      }
      &:nth-of-type(5) {
        margin: 300px 0 0 0;
        width: 80%;
        max-width: 80%;
      }
      &:nth-of-type(6) {
        margin: 580px 0 0 10%;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .email {
    margin-bottom: 1em;
    color: $font;
    h5 {
      font-size: 10px;
      text-align: center;
      padding: 0 5%;
    }
  }

  .window {
    margin: 0 auto 50px;
    img {
      width: 95%;
      max-width: 600px;
      margin-bottom: 1em;
    }
  }
  .hover {
    position: relative;
    span {
      display: inline-block;
      font-size: 12px;
      &:not(:last-of-type) {
        &:after {
          content: ", ";
        }
      }
      &:last-of-type {
        &:after {
          content: ".";
        }
      }

      // padding: 5px;
      // margin: 5px;
      // background: #fff;
      // border-radius: 8px;
    }
  }
}

@media (max-width: 600px) {
  .window {
    margin: 0 auto 60px;
    padding: 40px 5px 20px;
    max-width: 98%;
  }
}

.form__field-message_error,
.validation-advice {
  color: white !important;
  font-weight: 600;
}
