// set up the slick basics
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-next,
.slick-prev {
  height: 30px;
  top: 37%;
  &:before {
    content: "";
  }
}

.slick-next,
.slick-next:focus,
.slick-next:hover {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 31 52' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;'%3e%3cpath d='M25.852,25.852l-21.089,-21.089l21.089,21.089Z' style='fill:none;stroke-width:5.5px;stroke:%23000;'/%3e%3cpath d='M25.852,25.852l-21.089,21.09' style='fill:none;stroke-width:5.5px;stroke:%23000;'/%3e%3c/svg%3e")
    no-repeat;
}

.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 31 52' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;'%3e%3cpath d='M4.763,25.852l21.089,-21.089l-21.089,21.089Z' style='fill:none;stroke-width:5.5px;stroke:%23000;'/%3e%3cpath d='M4.763,25.852l21.089,21.09' style='fill:none;stroke-width:5.5px;stroke:%23000;'/%3e%3c/svg%3e")
    no-repeat;
}

.slick-slide,
.slick-slide * {
  outline: 0 !important;
}

@media only screen and (min-width: 768px) {
  #homeSlider,
  .slick-three {
    visibility: hidden;
  }

  #homeSlider.slick-initialized,
  .slick-three.slick-initialized {
    visibility: visible;
  }

  .slick-dots {
    bottom: 25px;
    li {
      button {
        font-family: "slick";
        &:before {
          font-size: 14px;
          line-height: 14px;
          color: #404040;
          opacity: 1;
        }
      }
      &.slick-active {
        button:before {
          color: white;
        }
      }
    }
  }

  .slick-three {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    padding: $desktopSpacing 0;
  }
}

@media only screen and (max-width: 767px) {
  .blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .slick-next,
  .slick-prev {
    top: 37.5vw;
  }

  .slick-next:before,
  .slick-prev:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 100px;
    transform: translateY(-50%);
    background: transparent;
  }

  .slick-next:before {
    top: 50%;
    bottom: 0;
    right: -10px;
  }

  .slick-prev:before {
    top: 50%;
    bottom: 0;
    left: -10px;
  }

  .slick-next {
    right: 13px;
    z-index: 2;
  }
  .slick-prev {
    left: 13px;
    z-index: 2;
  }

  .banner_content,
  .title-below {
    position: relative;
    width: 100%;
  }

  @keyframes swipe {
    0% {
      transform: translateX(0);
    }
    40%,
    70% {
      transform: translateX(-80px);
    }
  }
}
