h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

.capz {
  text-transform: uppercase;
}

.longword {
  word-wrap: break-word;
}

.title1 {
  font-size: 48px;
  font-size: 3em;
}

.subtitle1,
.subtitle2 {
  font-size: 1.45em;
  font-size: 16px;
  line-height: 1.45em;
}

.title2 {
  font-size: 35px;
  font-size: 2.1875em;
}

.title3 {
  // font-size: 24px;
  font-size: 1.75em;
  text-transform: lowercase;
}

.subtitle3 {
  font-size: 1em;
  font-size: 12px;
  line-height: 1.2em;
}

.subtitle1,
.subtitle2,
.subtitle3,
.title1,
.title2,
.title3 {
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .subtitle3 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .white {
    color: white;
  }
  .subtitle3 {
    padding: 0 20px;
  }
  .hide-on-desk,
  .show-on-mob {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  // mobile font sizing
  .title1 {
    // font-size: 48px;
    font-size: 2em;
    line-height: 1.5em;
  }
  .title2 {
    // font-size: 48px;
    font-size: 1.8em;
    line-height: 1.4em;
  }
  .title3 {
    // font-size: 24px;
    font-size: 1.75em;
    line-height: 1.3em; // text-transform: lowercase;
  }
  .subtitle1,
  .subtitle2,
  .subtitle3 {
    font-size: 1.16666667em;
    font-size: 14px;
    line-height: 1.5em;
  }
  .title3,
  .subtitle3 {
    max-width: 90%;
    margin: 0 auto;
  }
  h3.black {
    font-size: 2.75vw !important;
  }
  .hide-on-desk,
  .show-on-mob {
    display: block;
  }
  .hide-on-mob,
  .show-on-desk {
    display: none;
  }
}