.container {
  line-height: 1.45;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

.capz {
  text-transform: uppercase;
}

.longword {
  word-wrap: break-word;
}

.title1 {
  font-size: 48px;
  font-size: 2em;
}

.title2 {
  font-size: 35px;
  font-size: 1.44em;
}

.title3 {
  font-size: 24px;
  font-size: 1.8em;
  margin-bottom: 0.6em;
}

.subtitle1 {
  font-size: 16px;
  display: block;
  margin: 2% auto 0;
  max-width: 700px;
}

.subtitle2 {
  font-size: 14px;
}

.subtitle3 {
  font-size: 1.2em;
  margin: 0 0 0 0
}

button.button {
  background: transparent;
  border: #323232 2px solid;
  color: #323232;
  transition: all ease 300ms;
  display: block;
  margin: $buttonSpacingDesktop;
  &:hover {
    background: #323232;
    border: 2px solid #323232;
    color: #ffffff;
  }

  &.alt {
    background: #323232;
    border: 2px solid #323232;
    color: #fff;

    &:hover {
      background: white;
      border: 2px solid white;
      color: #323232;
    }
  }

  &.alt2 {
    background: white;
    border: 2px solid white;
    color: #323232;

    &:hover {
      background: #323232;
      border: 2px solid #323232;
      color: #fff;
    }
  }
}

.more-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .white {
    color: white;
  }

  .hide-on-desk,
  .show-on-mob {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  // mobile font sizing
  .title1 {
    // font-size: 48px;
    font-size: 1.9em;
    line-height: 1.5em;
    margin: 0;
  }

  .title2 {
    // font-size: 48px;
    font-size: 1.4em;
    line-height: 1.4em;
  }

  .title3 {
    // font-size: 24px;
    font-size: 1.8em;
    line-height: 1.3em;
  }

  // .subtitle1,
  // .subtitle2,
  // .subtitle3 {
  //   font-size: 1.16666667em;
  //   font-size: 14px;
  //   line-height: 1.5em;
  // }

  .title3,
  .subtitle1,
  .subtitle3 {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .hide-on-desk,
  .show-on-mob {
    display: block;
  }

  .hide-on-mob,
  .show-on-desk {
    display: none;
  }

  button.button {
    margin: $buttonSpacingMobile;
  }

  .more-buttons {
    flex-wrap: nowrap;
  }
}
