$background: #ff4d8c;
$font: #d1fe01;
$ease: all ease 300ms;

@import "reset.scss";
// @import "slick.scss";
@import "breakOut.scss";
// @import "typography.scss";
@import "UI.scss";
@import "lazy.scss";
@import "cyber.scss";
