$background: #fef5f0;
$ease: all ease 300ms;
body {
  background: $background;
  font-size: 12px;
}

@import "reset.scss";
@import "slick.scss";
@import "breakOut.scss";
@import "typography.scss";
@import "UI.scss";
<<<<<<< HEAD
@import "lazy.scss";
=======
@import "lazy.scss";
@import "topCat.scss";
>>>>>>> topCat
