.site-header__element--menu,
ul.promos.promos--global.promos--thirds {
  display: none;
}

.site-header__element--logo {
  margin-left: 1em;
}

.topCat {
  position: relative; // background: #808080;
  // background-image: linear-gradient(to right, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  // background: darken(#474747, 10%);
  background: white;
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; // align-content: center;
    align-items: center;
    max-width: 1200px; // min-height: 50px;
    margin: 0 auto;
    overflow: hidden;
  }
  .catz {
    position: relative;
    padding: 1em 0;
    margin: 0 1em;
    transition: border-bottom 300ms ease;
    a {
      width: 100%;
      height: 100%;
    }
    h5 {
      text-transform: lowercase; // color: #474747;
      color: #323232;
      margin: 0;
      font-size: 14px;
    }
    &.sale {
      h5 {
        color: #fc4afc;
      }
    }
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  }
  .dropdown-container {
    display: none; // display: inline-block;
    position: relative; // height: 100px;
    padding: 20px; // min-height: 350px;
    height: auto; // overflow: hidden;
    height: 350px; // background-image: linear-gradient(to right, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    background: #f7f7f7;
  }
  .drop {
    position: absolute;
    opacity: 0; // display: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 740px;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    transition: all ease 300ms 100ms;
    &.active {
      opacity: 1;
    }
    ul {
      position: relative; // width: 50%;
      list-style: none;
      margin: 0 3em 0 0;
      &:not(:first-of-type) {
        border-left: 1px solid grey;
      }
      li {
        margin-bottom: 1em;
        text-transform: capitalize;
        a {
          &:hover {
            border-bottom: 1px solid grey;
          }
        }
      }
    }
    img {
      position: absolute;
      right: 5%;
      width: 30%; // height: 30%;
      // margin-left: 60%;
    }
  }
}

// .search-form__handle {
//     background: black !important;
// }
@media (max-width: 768px) {
  .topCat {
    display: none;
  }
  .site-header__element--menu,
  ul.promos.promos--global.promos--thirds {
    display: block;
  }
}

#homeSlider-nav {
  display: none;
}