.site-header {
    background: white;
}

.top-promos-wrapper,
#homeSlider-nav {
    // piss off
    display: none;
}

// menu
svg.icon.icon--menu.icon--menu-mobile,
.site-header__element--logo .site-logo,
svg.icon.icon--bag.icon--bag--empty {
    fill: black;
}

svg.icon.icon--menu.icon--menu-mobile {
    margin-left: 39px;
    width: 19px;
    overflow: hidden;
}

.site-header__element--logo {
    width: 180px;
    .site-logo {
        width: 95px;
        margin-left: 30px;
    }
}

.mini-wishlist .icon--heart {
    stroke: black;
    width: 18px;
}

svg.icon.icon--bag {
    width: 14px;
}

.site-header__element--wishlist,
.site-header__element--bag {
    padding: 0 30px 0 0;
}

.store-currency-switcher__handle,
.site-header__element--store-switcher {
    display: none;
}

.site-header__element--bag,
.site-header__element--store-switcher,
.site-header__element--wishlist {
    border: none;
}

// search
.newSearch {
    position: absolute; // float: left;
    left: 25%;
    width: 450px;
    height: 40px;
    border: solid 1px #424242;
    input {
        position: relative;
        width: 75%;
        border-color: white;
    }
}

.goSearch {
    cursor: pointer;
    width: 15%;
    height: 100%;
    padding: 1em;
    background: transparent;
    border: none;
    transition: all ease 300ms;
    svg {
        transition: fill ease 300ms;
    }
    &:hover {
        background: pink;
        svg {
            fill: white;
        }
    }
}

svg.search-icon {
    width: 12px;
}

@media screen and (min-width: 1025px) {
    .primary-nav-handle .icon--menu {
        display: none;
    }
    svg.icon.icon--menu.icon--menu-mobile,
    .mini-wishlist .icon--heart,
        {
        display: block;
        width: 25px;
    }
    svg.icon.icon--bag {
        width: 20px;
    }
}

form#search_mini_form {
    border: 1px solid #E1E1E1;
}

// from optimizely
.background-overlay--search {
    display: none;
}

.site-header__element--search {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 35%;
    height: 100%;
    float: right;
}

.search-form {
    height: 100%;
    padding: 10px 0;
}

.search-form__dropdown {
    position: relative;
    top: 0;
    height: 100%;
    background: #ffffff;
}

.search-form__button {
    height: 100%;
    padding-top: 0;
}

.search-form__text {
    height: 100%;
    padding: 0;
}

.search-form__dropdown-inner {
    display: flex;
    height: 100%;
    padding-right: 0;
    padding-left: 12px;
}

.search-form__handle {
    position: relative;
    width: 30px;
    margin-left: 0;
    left: 0;
    background-color: transparent;
}

.search-form__button {
    font-size: 12px;
    position: relative;
    background: #ffffff;
    width: 40px;
    padding-right: 0;
}

.search-form__text {
    font-size: 12px;
    background: #ffffff;
}

.search-form__text::placeholder {
    text-transform: none;
}

.search-autocomplete {
    overflow-x: hidden;
    height: auto;
}

.search-autocomplete ul {
    padding: 0 12px;
    margin-bottom: 0;
}

.search-autocomplete li {
    padding: 3px 0;
}

.search-form__button-icon {
    background: url('//cdn.optimizely.com/img/5517080075/bde921e03f7d4490bd69fb20015d29c8.png') center center no-repeat;
    background-size: 18px;
    height: 100%;
    width: 100%;
}

@media (min-width: 1028px) {
    .search-form__button {
        width: 50px;
    }
    .search-form__button-icon {
        background-size: 21px;
    }
}

.search-form__button {
    background-color: #fff !important;
}

.search-form__dropdown-inner {
    border: none !important;
}

div#search_autocomplete {
    border-top: 1px solid #bbb;
}

input#search {
    font-weight: 900;
}

input#search::-webkit-input-placeholder {
    font-weight: 100;
}

input#search:-moz-placeholder {
    font-weight: 100;
}

input#search::-moz-placeholder {
    font-weight: 100;
}

input#search:-ms-input-placeholder {
    font-weight: 100;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

form#search_mini_form {
    display: block;
}

.search-form__dropdown-inner[style*="border: 1px solid rgb(253, 225, 222);"]:after {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: block;
}

.search-form__dropdown-inner {
    padding-left: 0;
    margin-left: 12px;
}

// new categories
.topCat {
    position: relative;
    background: white;
    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; // align-content: center;
        align-items: center;
        max-width: 80%;
        min-height: 60px;
        margin: 0 auto;
    }
    .catz {
        padding: 10px;
        border: 1px solid #bbb;
        border-radius: 2px;
        margin: 5px 10px;
        a {
            width: 100%;
            height: 100%;
        }
        h5 {
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    .topCat {
        .flex {
            display: block;
            width: auto;
            overflow: hidden;
            white-space: nowrap;
            margin: 0 0 0 30px;
            cursor: grab;
            max-width: 100%;
        }
        .catz {
            display: inline-block;
            margin: 0 6px;
        }
    }
}