.site-header__element--menu,
ul.promos.promos--global.promos--thirds {
  display: none;
}

.site-header__element--logo {
  margin-left: 1em;
}

.topCat {
  position: relative; // background: #808080;
  // background-image: linear-gradient(to right, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  // background: darken(#474747, 10%);
  background: white;
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; // align-content: center;
    align-items: center;
    max-width: 1200px; // min-height: 50px;
    margin: 0 auto;
    overflow: hidden;
  }
  .catz {
    padding: 15px 0; // border: 1px solid #bbb; // background: white;
    // border-radius: 5px;
    margin: 0 15px;
    a {
      width: 100%;
      height: 100%;
    }
    h5 {
      text-transform: lowercase; // color: #474747;
      color: #323232;
      margin: 0;
      font-size: 14px;
    }
    &.sale {
      h5 {
        color: #fc4afc;
      }
    }
    &.active {
      border-bottom: 2px solid black;
    }
  }
  .dropdown-container {
    display: none; // display: inline-block;
    position: relative; // height: 100px;
    padding: 20px; // min-height: 350px;
    height: auto; // overflow: hidden;
    height: 450px;
    // background-image: linear-gradient(to right, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    background: #f7f7f7;
  }
  .drop {
    position: absolute;
    opacity: 0;
    // display: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    top: 50px;
    left: 100px;
    padding: 2em 1em;
    transition: all ease 300ms 100ms;
    &.active {
      opacity: 1;
    }
    ul {
      position: relative;
      list-style: none;
      margin: 0 3em 0 1em;
      &:not(:first-of-type) {
        border-left: 1px solid grey;
      }
      li {
        margin-bottom: 1em;
        text-transform: capitalize;
      }
    }
    img {
      width: 25%;
      height: 25%;
      margin-left: 55%;
    }
  }
}

// .search-form__handle {
//     background: black !important;
// }
@media (max-width: 768px) {
  .topCat {
    .flex {
      display: block;
      width: auto;
      overflow: scroll;
      white-space: nowrap; // margin: 0 0 0 30px;
      cursor: pointer;
      max-width: 100%;
      padding-top: 5px;
      &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(255, 205, 205, 0.8);
        // border-radius: 2px;
        background-color: #555;
        width: 100%;
      }
      &::-webkit-scrollbar {
        width: 0;
        background-color: pink;
        height: 2px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2px; // -webkit-box-shadow: inset 0 0 6px rgba(255, 205, 205, 0.8);
        background-color: white;
        width: 10px;
      }
    }
    .catz {
      display: inline-block;
      margin: 0 6px;
    }
  }
}

#homeSlider-nav {
  display: none;
}
