

<div class="container">
	<section class="landing split">
		<div class="mg">
				<img src="http://media.missguided.co.uk/image/upload/v1519141049/missguided-logo_ienu26.svg" alt="">
		</div>
		<div class="mnc">
				<img src="http://media.missguided.co.uk/image/upload/v1519141049/mennace-logo_vhzfik.svg" alt="">
		</div>
		<div class="legal-bit hide-on-mob">

			<h5>how to redeem</h5>
			<p>Click either link above, shop via the website and add your code to the basket when checking out.</p>

			<h5>T&amp;C's</h5>
			<p>Please note: Each 30% off voucher code entitles the winner on or before 31st August 2018 to 30% off items listed at Missguided.co.uk
				or Mennace.com. The discount cannot be used against sale items or in conjunction with any other offer. Discount codes
				are only redeemable online and cannot be spent at any retail store or concession and are not redeemable at missguided
				or mennace's marketplace stores (such as ASOS). Codes can only be used once, on one site. Each winner needs to register
				for an account (if not already registered) at missguided.co.uk or mennace.com to redeem this prize online. All purchases
				must be in sterling. Prizes are not valid for the purchase of gift cards or gift vouchers. The full terms for each voucher
				are to be found in the MONOPOLY Wiiiin! Promotion at McDonald’s 2018 <a style="text-decoration:underline;" href="https://monopoly.mcdonalds.co.uk/rules">Rules</a> and include Missguided or Mennace’s terms
				and conditions which can be found here. © 2018 McDonald’s. MONOPOLY TM & © 1935, 2018 Hasbro. All Rights Reserved.
			</p>

		</div>
	</section>


	<section class="content">
		<svg class="arches" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 224.82 225.55">
			<defs>
				<style>
					.mcd-1 {
						fill: #c40b21;
					}

					.mcd-2 {
						fill: #fdc600;
					}

				</style>
			</defs>
			<title>arches</title>
			<g id="Layer_2" data-name="Layer 2">
				<g id="Layer_1-2" data-name="Layer 1">
					<path class="mcd-1" d="M224.82,0V206.07s0,19.48-19.47,19.48H19.47S0,225.55,0,206.07V0Z" />
					<path class="mcd-2" d="M145.07,54.85c12.88,0,23.33,54.29,23.33,121.27h18.65c0-72.13-18.79-130.6-42-130.6-13.18,0-24.95,17.57-32.65,45-7.69-27.48-19.46-45-32.65-45-23.18,0-42,58.47-42,130.6H56.45c0-67,10.45-121.27,23.32-121.27S103.1,105,103.1,166.79h18.65c0-61.82,10.44-111.94,23.32-111.94"
					/>
					<path class="mcd-2" d="M195.43,171.14h.88c.74,0,1.42,0,1.42-.9,0-.72-.61-.83-1.19-.83h-1.11Zm-.85-2.41h2.1c1.29,0,1.89.5,1.89,1.55a1.38,1.38,0,0,1-1.42,1.48l1.55,2.41h-.91l-1.47-2.34h-.89v2.34h-.85Zm1.81,6.7a4,4,0,1,0-3.83-4,3.84,3.84,0,0,0,3.83,4m0-8.64a4.67,4.67,0,1,1-4.67,4.64,4.63,4.63,0,0,1,4.67-4.64"
					/>
				</g>
			</g>
		</svg>
		<div>
			<img class="monop" src="https://media.missguided.co.uk/image/upload/v1519141050/Monopoly_empty_krksqt.png" alt="">
		</div>

		<div class="congrats">
			<h1>sorry this promo has now ended</h1>
            <h3>you can still shop missguided or mennace here...</h3>

				<a href="https://www.missguided.co.uk/new-in">
					<svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
					    x="0px" y="0px" viewBox="0 0 300 80" xml:space="preserve">
						<g>
							<polygon id="XMLID_12_" points="21.6,69.5 21.6,10.4 31.5,10.4 36,42.6 37,53.1 38.1,42.7 42.6,10.4 52.7,10.4 
							52.7,69.5 46.6,69.5 46.6,20.9 45.8,29 39.8,69.5 34.3,69.5 28.4,28.4 27.7,21 27.7,69.5 	" />
							<rect id="XMLID_11_" x="61.4" y="10.4" width="6.8" height="59.1" />
							<rect id="XMLID_10_" x="188.6" y="10.4" width="6.8" height="59.1" />
							<polygon id="XMLID_9_" points="239.9,62.8 250.3,62.8 250.3,69.6 233.2,69.6 233.2,10.4 250.3,10.4 250.3,17.2 
							239.9,17.2 239.9,36 245.9,36 245.9,42.7 239.9,42.7 	" />
							<path id="XMLID_8_" d="M173,10.4v49c0,1.9-1.5,3.4-3.4,3.4s-3.4-1.5-3.4-3.4v-49h-6.8v49h0
							c0,5.6,4.5,10.1,10.1,10.1c5.6,0,10.1-4.5,10.1-10.1v-49H173z" />
							<path d="M217.6,59.4c0,1.9-1.5,3.4-3.4,3.4v0h-3.4V17.2h3.4v0c1.9,0,3.4,1.5,3.4,3.4h0L217.6,59.4L217.6,59.4z
							 M214.2,10.4h-10.1v59.1h10.1c5.6,0,10.1-4.5,10.1-10.1V20.5C224.4,14.9,219.8,10.4,214.2,10.4" />
							<path d="M271.6,59.4c0,1.9-1.5,3.4-3.4,3.4v0h-3.4V17.2h3.4v0c1.9,0,3.4,1.5,3.4,3.4h0L271.6,59.4L271.6,59.4z
							 M268.3,10.4h-10.1v59.1h10.1c5.6,0,10.1-4.5,10.1-10.1V20.5C278.4,14.9,273.9,10.4,268.3,10.4" />
							<path id="XMLID_3_" d="M116.2,37.5c-3.2-3-5.7-5.4-5.7-10.3v-6.7c0-1.9,1.5-3.4,3.4-3.4c1.9,0,3.4,1.5,3.4,3.4v6.7
							h6.8v-6.7c0-5.6-4.5-10.1-10.1-10.1c-5.6,0-10.1,4.5-10.1,10.1h0v6.7h0c0,7.8,4.3,11.9,7.8,15.2c3.2,3,5.7,5.4,5.7,10.3h0v6.7
							c0,1.9-1.5,3.4-3.4,3.4c-1.9,0-3.4-1.5-3.4-3.4l0-10.1h-6.8l0,10.1c0,5.6,4.5,10.1,10.1,10.1c5.6,0,10.1-4.5,10.1-10.1h0v-6.7
							C124.1,44.9,119.7,40.8,116.2,37.5" />
							<path id="XMLID_2_" d="M88.5,37.5c-3.2-3-5.7-5.4-5.7-10.3v-6.7c0-1.9,1.5-3.4,3.4-3.4c1.9,0,3.4,1.5,3.4,3.4v6.7
							h6.8v-6.7c0-5.6-4.5-10.1-10.1-10.1c-5.6,0-10.1,4.5-10.1,10.1h0v6.7h0c0,7.8,4.3,11.9,7.8,15.2c3.2,3,5.7,5.4,5.7,10.3h0v6.7
							c0,1.9-1.5,3.4-3.4,3.4c-1.9,0-3.4-1.5-3.4-3.4V49.3H76v10.1c0,5.6,4.5,10.1,10.1,10.1c5.6,0,10.1-4.5,10.1-10.1h0v-6.7
							C96.3,44.9,91.9,40.8,88.5,37.5" />
							<path id="XMLID_1_" d="M151.7,27.2v-6.7c0-5.6-4.5-10.1-10.1-10.1c-5.6,0-10.1,4.5-10.1,10.1h0v38.8h0
							c0,5.5,4.4,10,10,10.1v0c3.4,0,5.8-1.5,7.1-4.6l3.3,4.6V42.7h-10.1v6.6h3.4l0,10.1c0,1.8-1.5,3.3-3.3,3.4c0,0-0.1,0-0.1,0
							c-1.9,0-3.4-1.5-3.4-3.4V20.5c0-1.9,1.5-3.4,3.4-3.4c1.9,0,3.4,1.5,3.4,3.4v6.7H151.7z" />
						</g>
					</svg>
				</a>
				<h4>or</h4>
				<a href="https://www.mennace.com">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 683.28 122">
						<title>mennace</title>
						<path d="M14,119.57H0V2.43H24.17L53.7,100.75H54L83.88,2.43h24.66V119.57H93.61V15.41h-.33L60.52,119.57H46.4L14.28,15.41H14Z"
						/>
						<path d="M135,119.57V2.43h60.35v13H149.93V53h42.18V66H149.93v40.56h46.4v13Z" />
						<path d="M297.25,2.43V119.57H276.81L230.57,18h-.32V119.57h-13.3V2.43H238l45.59,100.26H284V2.43Z" />
						<path d="M405.48,2.43V119.57H385L338.8,18h-.32V119.57h-13.3V2.43h21.09l45.59,100.26h.33V2.43Z" />
						<path d="M459,2.43h19l38.13,117.13H499.43L491,91.66H445.73L437,119.57H421.89Zm9.09,13.79h-.33L449.47,78.68h37.48Z" />
						<path d="M583.33,34.72c.16-6.65-.33-13.3-3.41-17s-10.06-5-13.14-5c-12.33,0-17.2,7.46-17.68,9.09-.49,1.3-3.41,4.22-3.41,24.34V77.39c0,28.71,9.41,32.12,20.93,32.12,4.54,0,18.33-1.62,18.5-24.5h15.41c.65,37-25.47,37-33.1,37-14.6,0-37-1-37-46.4V42.5C530.44,9.41,545,0,568.07,0c23.2,0,32.12,12,30.66,34.72Z"
						/>
						<path d="M622,119.57V2.43H682.3v13H636.88V53h42.18V66H636.88v40.56h46.4v13Z" />
					</svg>
				</a>
		</div>
<a class="hide-on-desk" href="#legal">
<h5 style="text-transform:none;text-decoration:underline;">T&amp;C's apply.</h5>
</a>
	</section>

	<section class="legal-bit hide-on-desk" id="legal">
		<div>
			<h5>how to redeem</h5>
			<p>Click either link above, shop via the website and add your code to the basket when checking out.</p>
		</div>
		<div>
			<h5>T&amp;C's</h5>
			<p>Please note: Each 30% off voucher code entitles the winner on or before 31st August 2018 to 30% off items listed at Missguided.co.uk
				or Mennace.com. The discount cannot be used against sale items or in conjunction with any other offer. Discount codes
				are only redeemable online and cannot be spent at any retail store or concession and are not redeemable at missguided
				or mennace's marketplace stores (such as ASOS). Codes can only be used once, on one site. Each winner needs to register
				for an account (if not already registered) at missguided.co.uk or mennace.com to redeem this prize online. All purchases
				must be in sterling. Prizes are not valid for the purchase of gift cards or gift vouchers. The full terms for each voucher
				are to be found in the MONOPOLY Wiiiin! Promotion at McDonald’s 2018 <a style="text-decoration:underline;" href="https://monopoly.mcdonalds.co.uk/rules">Rules</a> and include Missguided or Mennace’s terms
				and conditions which can be found here. © 2018 McDonald’s. MONOPOLY TM & © 1935, 2018 Hasbro. All Rights Reserved.
			</p>
		</div>

	</section>

<div class="hide-on-mob"></div>
</div>

<script type="text/javascript">
	(function ($) {
		var is_mobile = false,
			scrollTimer,
			maxWidth = 768,
			width = $(window).width();
		$(window).on("load", checkMob);

		$(window).on('resize orientationchnage', function () {
			checkMob();
			clearTimeout(scrollTimer);
		});

		$(window).on('scroll', function () {
			clearTimeout(scrollTimer);
		});

		function checkMob() {
			if ($('.hide-on-mob').css('display') == 'none') {
				is_mobile = true;
				scrollTimer = setTimeout(scrollDown, 1500);
			} else {
				is_mobile = false;
			}
		};

		function scrollDown() {
			$('html, body').animate({
				scrollTop: $('.content').offset().top
			}, 1000);
		}
		
	})(jQuery);

</script>
