<!-- CATEGORIES CAROUSEL -->

<style>
    .categories-container--mobile {
        display: block;
    }

    .categories-container--desktop {
        display: none;
    }

    .categories-container__heading {
        text-align: center;
        padding-bottom: 32px;
        padding-top: 70px;
        margin-bottom: 0;
    }

    .categories-carousel {
        margin: 0 auto 20px auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 20px;
    }

    .categories-carousel::-webkit-scrollbar {
        display: none;
    }

    .category-tile__link {
        width: 100%;
        margin-left: 16px;
    }

    .category-tile__heading {
        padding-top: 8px;
        text-align: center;
    }

    @media (min-width: 1200px) {
        .categories-carousel {
            max-width: 1060px;
            padding-right: 40px;
            padding-left: 20px;
        }
    }

    @media (min-width: 768px) {
        .categories-container--mobile {
            display: none;
        }

        .categories-container--desktop {
            display: block;
        }
    }

    @media (max-width: 768px) {
        .categories-container__heading {
            padding: 0px 40px 30px 40px;
        }

        .categories-container {
            position: relative;
        }

        .categories-container:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 10px;
            width: 100%;
            background: #FEF5F0;
        }

        .categories-carousel {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            padding-bottom: 40px;
        }

        .category-tile__link:last-of-type {
            padding-right: 16px;
        }

        .category-tile__image {
            max-width: none;
            width: 180px;
        }

        #homeSlider .row img.category-tile__image {
            min-height: auto;
        }
    }

    @media (max-width: 660px) {
        .category-tile__image {
            width: 38vw;
        }
    }
</style>

<div class="categories-container categories-container-- modifier">
    <h2 class="categories-container__heading">browse Categories</h2>
    <div class="categories-carousel">
        <a class="category-tile__link" href="/dresses">
            <div class="category-tile">
                <img class="category-tile__image lazyload" data-src="http://media.missguided.co.uk/image/upload/v1537174439/dresses_wfzzp6.jpg">
                <h3 class="category-tile__heading">dresses</h3>
            </div>
        </a>
        <a class="category-tile__link" href="/clothing/tops">
            <div class="category-tile">
                <img class="category-tile__image lazyload" data-src="http://media.missguided.co.uk/image/upload/v1537174438/tops_n9tpwv.jpg">
                <h3 class="category-tile__heading">tops</h3>
            </div>
        </a>
        <a class="category-tile__link" href="/dresses/homecoming-dresses">
            <div class="category-tile">
                <img class="category-tile__image lazyload" data-src="http://media.missguided.co.uk/image/upload/v1536752982/knitwear_biusnk.jpg">
                <h3 class="category-tile__heading">homecoming</h3>
            </div>
        </a>
        <a class="category-tile__link" href="/clothing/coats-jackets">
            <div class="category-tile">
                <img class="category-tile__image lazyload" data-src="http://media.missguided.co.uk/image/upload/v1537174439/outerwear_jgj8j5.jpg">
                <h3 class="category-tile__heading">coats &amp; jakcets</h3>
            </div>
        </a>
        <a class="category-tile__link" href="/shoes/">
            <div class="category-tile">
                <img class="category-tile__image lazyload" data-src="http://media.missguided.co.uk/image/upload/v1537174543/boots_k4hotw.jpg">
                <h3 class="category-tile__heading">shoes</h3>
            </div>
        </a>





    </div>
</div>

<!-- END CATEGORY CAROUSEL -->